h1 {
  font-family: var(--primary-font-family);
  font-size: 100px;
  font-weight: 300;
  padding: 0px 0px 40px 0px;
}

.hero-content {
  background-image: url("/images/donut-bakery.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
}

.hero-title {
  color: white;
  font-weight: 600;
  position: relative;
  padding: 40px 0px 0px 30px;
}
