.menu-header-display {
  display: flex;
}

.menu-header-title {
  font-family: var(--primary-font-family);
  font-size: var(--header-size);
  text-align: center;
}

.menu-header-display {
  margin: 0 auto;
}

.sample-menu {
  display: flex;
  margin: 0 auto;
}

.menu-search-form {
  margin: 0 auto;
}

.sample-menu-images {
}

.sample-menu-description {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
}
