.menu-body {
  background: white;
}

.menu-header-display {
  display: flex;
}

.header-title {
  font-family: var(--primary-font-family);
  font-size: var(--header-size);
  text-align: center;
}

.menu-header-display {
  margin: 0 auto;
  margin-top: 100px;
}

.sample-menu {
  display: flex;
  margin: 0 auto;
}

.sample-menu-images {
}

.sample-menu-description {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
}

.sample-menu-images-individual {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ebe8f5;
  border-radius: 3px;
}

.full-menu-display {
  background: grey;
  margin: 20px;
  margin-top: 200px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
}

.menu-subheader-title {
  text-align: center;

  font-size: 3em;
  margin-top: 15px;
  margin-bottom: 45px;
  font-family: var(--primary-font-family);
}

.menu-category-title {
  text-align: left;
  font-size: 2.5em;
  margin: 20px;
  font-family: var(--secondary-font-family);
}

.menu-category {
  margin-top: 30px;
}

.menu-list {
  list-style-type: none;
  text-align: left;
  font-size: 1.5em;
}
