.menu-header-display {
  display: flex;
}

.menu-header-title {
  font-family: var(--primary-font-family);
  font-size: var(--header-size);
  text-align: center;
}

.menu-header-display {
  margin: 0 auto;
}
.image-menu:hover {
  cursor: pointer;
  color: grey;
  transition: transform 250ms ease-in;
}
.sample-menu {
  display: flex;
  margin: 0 auto;
}

.sample-menu-images {
}

.sample-menu-description {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
}

.sample-menu-images-individual {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #ebe8f5;
  border-radius: 3px;
}

.full-menu-display {
  background: grey;
  margin: 20px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-family: var(--primary-font-family);
}

.menu-subheader-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 45px;
}

.menu-list {
  list-style-type: none;
}
