@import "./navbar";
@import "./hero";
@import "./about-content";
@import "./footer";
@import "./menu-content";
@import "./events";

:root {
  --primary-font-family: lato;
  --secondary-font-family: arvo;
  --header-size: 4em;
}

hr {
  border: 1px solid black;
  opacity: 0.65;
  width: 90%;
  margin: 0 auto;
}
